/* mobile styles */
.main-header {
	grid-column: 2/12;
}

.search {
	width: 100%;
	margin: 20px 0;
}

.country {
	grid-column: 2/12;
	grid-row: 2;
}

.flag {
	width: 100%;
	height: auto;
}

h2 {
	margin-bottom: 6px;
}

h3 {
	margin-bottom: 20px;
}
p {
	margin-bottom: 6px;
}

.hidden {
	display: none;
}

/* small tablet styles */
@media screen and (min-width: 620px) {
	body {
		font-size: 18px;
	}

	.main-header {
		grid-column: 4/10;
	}

	.country {
		grid-column: 3/11;
	}

	h2 {
		margin-bottom: 10px;
	}

	p {
		margin-bottom: 12px;
	}

	.hidden {
		display: none;
	}
}

/* large tablets & laptops styles */
@media screen and (min-width: 960px) {
	.main-header {
		grid-column: 5/9;
	}

	.search {
		padding: 10px 0;
		font-size: 1.2em;
	}

	.country {
		display: flex;
		width: 100%;
	}

	.flag {
		width: 60%;
		height: auto;
	}

	.details {
		align-self: center;
	}

	h2 {
		margin-bottom: 6px;
	}

	h3 {
		margin-bottom: 20px;
	}
	p {
		margin-bottom: 6px;
	}

	.hidden {
		display: none;
	}
}
